In [1]:
import pandas as pd

In [2]:
ratings = pd.DataFrame.from_csv('ratings.csv',index_col=None)
ratings.head(10)

   userId  movieId  rating   timestamp
0       1       16     4.0  1217897793
1       1       24     1.5  1217895807
2       1       32     4.0  1217896246
3       1       47     4.0  1217896556
4       1       50     4.0  1217896523
5       1      110     4.0  1217896150
6       1      150     3.0  1217895940
7       1      161     4.0  1217897864
8       1      165     3.0  1217897135
9       1      204     0.5  1217895786

In [3]:
movies = pd.DataFrame.from_csv('movies.csv',index_col=None)
movies.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [4]:
tags = pd.DataFrame.from_csv('tags.csv',index_col=None)
tags.head(10)

   userId  movieId              tag   timestamp
0      12       16         20060407  1144396544
1      12       16   robert de niro  1144396554
2      12       16         scorcese  1144396564
3      17    64116     movie to see  1234720092
4      21      260           action  1428011080
5      21      260         politics  1428011080
6      21      260  science fiction  1428011080
7      21      296       dark humor  1428788132
8      21      296            drugs  1428788132
9      21      296    philosophical  1428788132

In [5]:
links = pd.DataFrame.from_csv('links.csv',index_col=None)
links.head(10)

   movieId  imdbId  tmdbId
0        1  114709     862
1        2  113497    8844
2        3  113228   15602
3        4  114885   31357
4        5  113041   11862
5        6  113277     949
6        7  114319   11860
7        8  112302   45325
8        9  114576    9091
9       10  113189     710

In [6]:
len(ratings)

105339

In [7]:
len(movies)

10329

In [8]:
len(tags)

6138

In [9]:
len(links)

10329

In [10]:
ratings.userId.value_counts()

668    5678
575    2837
458    2086
232    1421
310    1287
475    1249
128    1231
224    1182
607    1176
63     1107
451    1064
627    1050
413    1040
62     1032
461    1005
164     895
354     887
402     865
220     834
109     804
160     768
567     760
560     741
177     741
192     721
88      720
410     684
228     661
576     646
255     636
       ...
142      21
172      21
514      21
340      21
431      21
217      21
90       21
360      21
131      21
595      21
550      21
12       20
191      20
654      20
26       20
125      20
388      20
324      20
48       20
517      20
51       20
288      20
214      20
464      20
257      20
645      20
58       20
497      20
313      20
350      20
Name: userId, dtype: int64

In [11]:
ratings.movieId.value_counts()

296       325
356       311
318       308
480       294
593       290
260       273
2571      261
589       253
527       248
110       248
457       244
1         232
50        228
1196      228
1198      224
1210      222
592       217
2858      216
1270      213
858       210
2959      207
32        207
780       205
608       201
590       201
377       197
150       197
47        196
588       191
2762      191
         ...
56379       1
7267        1
58492       1
78982       1
97423       1
103570      1
72899       1
31983       1
6819        1
96911       1
112727      1
57980       1
4194        1
6243        1
51321       1
73860       1
94350       1
78022       1
26925       1
49464       1
352         1
6499        1
139620      1
86410       1
108949      1
8612        1
61950       1
2593        1
8740        1
2049        1
Name: movieId, dtype: int64